.rz1mrOnj9WN6UErES7qsq.Panel {
    max-width: calc(5 * 220px + 4 * 15px + 30px);
    zoom: 1.3;
    margin: 0 auto;
}

._11p6Fm47YPaY-YjtuLYMMJ {
    display: grid !important;
    grid-template-columns: repeat(5, 120px);
    grid-auto-rows: 120px;
    gap: 15px !important;
    padding: 15px;
    justify-content: center;
}